{% load staticfiles %}
{% load i18n %}
!!! 5
html
head
  style.
    @page {
      font-size: 9pt;
      margin: 2cm;
      size: a4 portrait;

        @bottom-right{
          content: counter(page) " / " counter(pages);
        }

        @frame header_frame {
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }

        @frame content_frame {
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }

        @frame footer_frame {
            -pdf-frame-content: footer_content;
            left: 5pt; width: 512pt; top: 772pt; height: 20pt;
        }

        @bottom-center {
          font-size: x-small;
          content: "Abelujo http://abelujo.cc/ - logiciel libre pour librairies"
        }
    }

  body

    h2#header_content(style="{text-align: center;}")  {{ name }}
    {% if bon_de_commande %}
    <div style="font-size: 90%"> Bon de commande: {{ bon_de_commande }} </div>
    {% endif %}

    em(style="font-size: 8pt") {{ date }}

    table
      thead(style="background-color: lightgrey; font-size: 10pt;")
        tr
          if barcode
            th
          if covers
            th
          th {% trans "Title" %}
          th {% trans "Authors" %}
          th {% trans "Price" %}
          th {{ quantity_header }}

      tbody(style="font-size: 8pt;")
        for card_qty in cards_qties
          tr
            if barcode
              // normal size for the barcode.
              td(style="font-size: 12pt"): img(alt="" src="data:image/png;base64,{{ card_qty.0.eanbase64 }}", style="max-height: 4em")
            if covers
              // quickfix: cover is the remote url, not the local file.
              td: img(src="{{ card_qty.0.cover }}")
            td {{ forloop.counter }}- {{ card_qty.0.title }}
            td {{ card_qty.0.authors_repr }}
            td(style='{text-align: center;}')
              if card_qty.0.price
                {{ card_qty.0.price }} €

            td(style='{text-align: center;}') {{ card_qty.1 }}
        endfor

      tfoot
        tr(style="background-color: lightgrey")
          if barcode
            td
          if covers
            td
          td
            b {% trans "Total" %}
          td
          td(style='{text-align: center;}')
            b {{ total }} €
          td(style='{text-align: center;}')
            b {{ total_qty }}
