<!-- Copyright (c) Vincent Dardel, <vindarel@mailz.org>,  Abelujo Developers-->
<!-- See the COPYRIGHT file at the top-level directory of this distribution-->
<!-- Abelujo is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU Affero General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!-- Abelujo is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU Affero General Public License for more details.-->
<!-- You should have received a copy of the GNU Affero General Public License-->
<!-- along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.-->

{% extends "base.html" %}

{% block auto_command_nb %}
{{ auto_command_nb }}
{% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

{% get_current_language as LANGUAGE_CODE %}

{% if messages %}

<ul class="messages">
  {% for msg in messages %}
  <uib-alert type="info">{{ msg }}</uib-alert>
  {% endfor %}

</ul>
{% endif %}

<div>

  Les nouveaux inventaires sont plus rapides que l'ancienne méthode. Pour démarrer un nouvel inventaire, veuillez contacter votre administrateur du logiciel.

  <ul>
    <li>
      <a href="http://abelujo.cc/docs/inventories/">consultez la documentation</a>
    </li>
    <li>
      consultez <a href="/{{ LANGUAGE_CODE }}/inventories"> les anciens inventaires</a>.
    </li>
  </ul>

</div>

<div class="row panel panel-default">
  <h3 class="panel panel-heading">
    {% trans "Reset all quantities to 0…" %}
    <a href="https://abelujo.cc/docs/inventories/"
        class="text-right"
        target="_blank"
        style="color: grey">
      <i class="glyphicon glyphicon-question-sign"></i>
    </a>
  </h3>
  <div class="panel panel-body">
    <div>

      <span>
        Avant de commencer un inventaire, remettez toutes les quantités des livres à 0.
      </span>

      <span>
        Ce bouton ne modifie PAS les quantités:
        <ul>
          <li>dans les listes, les retours, les cartons</li>
          <li>dans les commandes</li>
          <li>dans les réservations clients</li>
          <li>dans les dépôts</li>
        </ul>

        <div>
          Une fois cette action réalisée, vous ne pouvez pas revenir en arrière automatiquement. Une sauvegarde de la base de données est créée. Cela peut prendre quelques secondes.
        </div>

        <div>
          En cas de doute, veuillez contacter votre gentil administrateur du logiciel.
        </div>
      </span>

      <div style="padding: 1em">
        <form method="post" action="/{{ LANGUAGE_CODE }}/inventories?action=resetallquantitiestozero" class="form-inline">
          <input type="submit"
              value='{% trans "Reset all quantities to 0…" %}'
              onclick="return confirm('Voulez-vous faire une remise à zéro ?')"
              class="btn btn-danger">
      </input>

      <div class="btn-group"><a role="button" href="http://abelujo.cc/docs/inventories/" target="_blank" title="{% trans "Read the documentation" %}" class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i></a>
      </div>
        </form>
      </div>

    </div>

  </div>
</div>


{% endblock content %}
