
{% load ngfilter %}

<!-- The difference with with the other modale file:

- this is for angular-rendered snippets, using the ng filter
- it must be wrapped by the div that declares the modal and its ID:

Example: <div id="enlargeImageModal{{ 'card.id' | ng }}" class="modal">


Example use: baskets.html

-->

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <img ng-src="{{ 'card.img' | ng }}"
            style="max-width: 800;
                     display: block;
                     margin-left: auto;
                     margin-right: auto;
                     width: 70%;"
            class="img-responsive;"/>

        <div style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 70%;">
          <span>
            <h3> {{ 'card.title' | ng }} </h3>
          </span>
          <h3 style="color: dimgrey;">
            <span>
              {{ 'card.authors_repr' | ng }} &bull;
            </span>
            <span>
              {{ 'card.pubs_repr' | ng }} &bull;
            </span>
            <span>
              {{ 'card.price_fmt' | ng }}
            </span>
          </h3>
        </div>

      </div>
    </div>
  </div>
