
{% extends "base.html" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load ngfilter %}

<h3> {% trans "Import" %}:
  {% if  source == "basket" %}
  liste
  {% endif %}
  #{{ source_pk }} {{ source_name }} </h3>

{% if not feature_dilicom_enabled %}
<div id="success" role="alert" class="alert alert-warning">
  ⚠ Dilicom is not enabled. You can't batch-import data.
</div>
{% endif %}

{% for alert in alerts %}

{% if status == 200 %}
<div id="success" role="alert" class="alert alert-success">
  {{ alert }}
</div>
{% endif %}

{% if status != 200 %}
<div id="success" role="alert" class="alert alert-warning">
  {{ alert }}
</div>
{% endif %}

{% endfor %}

{% if rows %}
<details style="mouse-pointer">
  <summary> <strong> See results > </strong> </summary>
  {% for row in rows %}
  <div> {{ row.isbn }}: {{ row.title }}, {{ row.pubs_repr }} {{ row.price }} {{ currency }} </div>
  {% endfor %}
</details>

<br>

<form action="/fr/import/validate" name="csv_file_import" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <button class="btn btn-success" type="submit" value="validate"> Finish import </button>
  <input type="hidden" name="source" value="{{ source }}">
  <input type="hidden" name="source_name" value="{{ source_name }}">
  <input type="hidden" name="source_pk" value="{{ source_pk }}">
  <input type="hidden" name="boxes_page" value="{{ boxes_page }}">
  <input type="hidden" name="returns_page" value="{{ returns_page }}">
</form>

<br>
{% endif %}


<form action="/fr/import/" name="csv_file_import" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}

  <textarea id="inputrows" name="inputrows"
      rows="12" cols="122">
// Copiez-collez les lignes ici. Formats acceptés:
// 1 isbn par ligne
// ou
// isbn;quantité (format CSV Dilicom)
// ou
// isbn quantité (séparés par un espace)
  </textarea>

  <input type="hidden" name="source" value="{{ source }}">
  <input type="hidden" name="source_name" value="{{ source_name }}">
  <input type="hidden" name="source_pk" value="{{ source_pk }}">
  <input type="hidden" name="boxes_page" value="{{ boxes_page }}">
  <input type="hidden" name="returns_page" value="{{ returns_page }}">

  <br>

  <button class="btn btn-primary" type="submit" value="OK"> {% trans "Import" %}… </button>

</form>

{% endblock content %}
